.btn-meals-category {
  background: none;
  border: none;
  color: rgb(156, 156, 156);
  cursor: pointer;
  font: inherit;
  /* font-size: 25px; */
  margin-bottom: 30px;
  /* margin-left: 10px; */
  outline: inherit;
  /* padding-left: 20px; */
}

.btn-drinks-category {
  background: none;
  border: none;
  color: rgb(156, 156, 156);
  cursor: pointer;
  font: inherit;
  /* font-size: 25px; */
  margin-bottom: 30px;
  /* margin-left: 10px; */
  outline: inherit;
  /* padding-left: 20px; */
}

.btn-all-category {
  background: none;
  border: none;
  color: rgb(156, 156, 156);
  cursor: pointer;
  font: inherit;
  /* font-size: 25px; */
  margin-bottom: 30px;
  outline: inherit;
}

.div-category {
  align-items: center;
  display: flex;
  justify-content: center;
}
