#img-food {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#div-img {
    display: flex;
    align-items: center;
    justify-content: center;
}