#img-food {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#div-img {
  align-items: center;
  display: flex;
  justify-content: center;
}
