.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.div-img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-div-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
