#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-img {
  width: 50px;
  margin-top: 50px;
  margin-bottom: -15px;
}

#h1-profile {
  color: #41197F;
  font-weight: 900;
}

#div-buttons-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#btn-done {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(133, 133, 133);
  margin-bottom: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#btn-favorite {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(133, 133, 133);
  margin-bottom: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(133, 133, 133);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#doneImg,
#favoriteImg,
#logoutImg {
  margin-right: 20px;
  width: 50px;
}