.recipe-img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.buttons button {
  background: none;
  border: none;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons button:focus {
  outline: none;
}

.buttons button img {
  height: 26px;
  width: 26px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.spaceText-h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.spaceText-p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.div-content-progress {
  margin-left: 20px;
  margin-right: 20px;
}

.p-instructions-progress {
  border: solid 1px rgb(207, 207, 207);
  border-radius: 5px;
  padding: 15px;
}

.div-content-check {
  border: solid 1px rgb(207, 207, 207);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
