#searchBarForm {
  align-items: center;
  background-color: #41197F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 170px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 627px;
}

#term {
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin-bottom: 20px;
  width: 620px;
}

#input-ingredient,
#input-name {
  color: white;
  font-size: 16px;
  margin-right: 50px;
}

#input-letter {
  color: white;
  font-size: 16px;
}

#button-seacrh {
  background-color: #FCDC36;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  margin-top: 20px;
  width: 360px;
}
